/* Sans Serif texto */
/* Raleway H */
/* Color #149ddd */
/* Color #050d18 */
/* Color texto 272829 */
/* fondo testimonio F5F8FD */
/* Letra Blanca FFFFFF */
/* Celeste testimonio C3E8FA */

@font-face {

    font-family: Raleway;
    
    src: url(Fuentes/Raleway-Bold.ttf);
    
    }
rect{
    fill: #149ddd;
}

#cabecera{
    background: url("PROYECTO/hero-bg.jpeg") top center;
    background-size: auto;
    background-size: cover;
}

body{
    background-color: #F5F8FD;
    width: 100%;
    height: 130vh;
}
#cabecera h1{
    font-family: Raleway;
    font-size: 42px;
}


#contenidoBlanco h1,h2{
    font-family: Raleway;
    font-size: 45px;
    color: #173b6c;
}

#contenidoBlanco p{
    font-family: sans-serif;
    font-size: 23px;
}

p{
    font-family: sans-serif;
}

#cabecera p{
    font-family: sans-serif;
    font-size: 42px;
}

#cabecera{
    padding-top: 475px;
    padding-bottom: 525px;
}

#contenidoBlanco{
    background-color: white;
}

.img-fluid {
    height: auto;
}

.flecha{
    color: #149ddd;
}
ul {
    list-style: none;
    padding: 0;
}

.iconoFact{
    color: #149ddd;
    font-size: 60px;
}

.fact h4{
    color: black;
    font-size: 70px;
}

#contenidoGris h1,h2{
    font-family: Raleway;
    font-size: 45px;
    color: #173b6c;
}

#contenidoGris p{
    font-family: sans-serif;
    font-size: 23px;
}

.progress-bar{
    background-color: #149ddd;
}

ol {
    list-style-type: disc;
}

.resume{
    border-left: 2px solid #1f5297;
    padding-left: 20PX;
}

.fondoFecha{
    background-color: #e4edf9;
}

#contenidoGris img{
    width: 100%;
}

#contenidoGris{
    background-color: #F5F8FD;
    padding: 20px;;
}

.serviceIcono{
    font-size: 30px;
    color: white;
}

.service{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #149ddd;
    border-radius: 50%;
    
}

.carousel .boton{
    border: 3px solid #149ddd;
    width: 10px;
    height: 10px;
}

.carousel .boton .active{
    color: #149ddd;
}

.carousel img{
    width: 100px;
}


.carousel .comillas{
    font-size: 50px;
}

.contactIcono{
    font-size: 30px;
    color: #149ddd;
}

.contact{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background: #dff3fc;
    border-radius: 50%;
    
}

.botonAbajoDer{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #149ddd;
    border-radius: 50%;
    
}

.botonAbajoDer .flechaArriba{
    font-size: 30px;
    color: white;
}


.botonmenu{
    font-size: 30px;
    color: white;
}

footer{
    color: white;
    background-color: #040b14;
}

.offcanvas {
    background-color: #040b14;
}

#navbar li {
    font-size: 20px;
    color: #a8a9b4;
}
#navbar li span:hover {
    font-size: 20px;
    color: #fff;
}
#navbar li .bi:hover {
    font-size: 20px;
    color: #149ddd;
}

.red{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #212431;
    border-radius: 50%;
    
}